<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <!--required meta tags-->
  <meta charset="utf-8"/>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>
      <style>
          .indent-1 {float: left;}
          .indent-1 section {width: 50%; float: left;}
     </style>
            <header class="header">
            </header>

              <div class="header__user">
                  {% if user %}
                    <p>Signed in as {{ user }} </p>
                    <a href="{{url_for('signOut')}}">Sign out</a>
                  {% else %}
                      <a href="{{url_for('Showsignin')}}">Sign In</a>
                          
                  {% endif %}
              </div>
                 
              

	   <section class="indent-1">
        <section>
		        <h1>Catalog Home</h1>
                {% for cate in cates %}
                    <h2>
                      <a href="{{ url_for('Showcateitems', cate_name = cate.name) }}">{{ cate.name }}</a>
                    </h2>
                {% endfor %}
        </section>

        <section> 
          <div class="wrapper">
              {% if user %}
                  <a href="{{url_for('Addcateitem')}}" class="user__nav">ADD</a>
              {% endif %}
          </div>
        </section>
    

    <section>
          <h1>Latest Items ({{ n }} items added )</h1>
                {% for item in items %}
                    {% for cate in cates %}
                        {% if cate.id == item.category_id %}
                            <h2>
                              <a href="{{ url_for('desc', item_id = item.id, item_name = item.name, cate_name = cate.name) }}">{{ item.name }} ( {{ cate.name}} )</a><br/>
                            </h2>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
      

    </section>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</body>
</html>
